# Environment & Secret Keys
.env
.env.*
!.env.example
env.js
config.js

# Dependencies
node_modules/

# OS and System Files
.DS_Store
Thumbs.db
desktop.ini

# Logs & Temporary Files
*.log
.tempmediaStorage/
.system_generated/
